/* PT Astra Regular */
@font-face {
    font-family: 'PT Astra';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/PT-Astra-Serif/PT-Astra-Serif_Regular.ttf') format('truetype');
}
/* PT Astra Bold */
@font-face {
    font-family: 'PT Astra';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/PT-Astra-Serif/PT-Astra-Serif_Bold.ttf') format('truetype');
}

/* PT Astra Italic */
@font-face {
    font-family: 'PT Astra';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/PT-Astra-Serif/PT-Astra-Serif_Italic.ttf') format('truetype');
}

/* Neue Machina Regular*/
@font-face {
    font-family: 'Neue Machina';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Neue-Machina/PPNeueMachina-InktrapRegular.otf') format('opentype');
}

/*PT Serif Regular*/
@font-face {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/PT-Serif/PT-Serif_Regular.woff') format('woff');
    src: url('../fonts/PT-Serif/PT-Serif_Regular.woff2') format('woff2');
}

/*PT Serif Bold*/
@font-face {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/PT-Serif/PT-Serif_Bold.woff') format('woff');
    src: url('../fonts/PT-Serif/PT-Serif_Bold.woff2') format('woff2');
}

/*PT Serif Italic*/
@font-face {
    font-family: 'PT Serif';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/PT-Serif/PT-Serif_Italic.woff') format('woff');
    src: url('../fonts/PT-Serif/PT-Serif_Italic.woff2') format('woff2');
}

/*PT Serif Bold Italic*/
@font-face {
    font-family: 'PT Serif';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/PT-Serif/PT-Serif_Bold-Italic.woff') format('woff');
    src: url('../fonts/PT-Serif/PT-Serif_Bold-Italic.woff2') format('woff2');
}
