{{ define "main" }}

<main>
	<div class="post">
		<div class="post-archive">
			{{ range (where (where .Site.Pages "IsPage" "=" true) "Params.hidden" "!=" true ).GroupByDate "2006" }}
			<div style="padding-bottom: 2rem">
			<h2>{{ .Key }}</h2>	
			<ul style="padding: 0">
				{{ range .Pages }}
				<p> 
					{{ .Date.Format "02.01" }}
					<a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a>
					{{ .Params.Author }}
				</p>
				{{ end }}
			</ul>
			</div>
			{{ end }}
		</div>

		{{ partial "single/footer.html" . }}
	</div>
</main>

{{ end }}
