<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
    {{ partial "head.html" . }}
    <style>
        a {
            text-decoration: underline;
        }
        a:hover {
            color: #AAAA
        }
        a:visited {
            color: #8E44AD;
        }
    </style>
    <body>
            <div  style="height: 10 em; display: flex; align-items: center; justify-content: center;">
            <h1>404: Старикам&nbsp;тут&nbsp;не&nbsp;<a href="{{ "/" | relURL }}">место</a></h1>
            </div>
    </body>
</html>
